{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="card-title text-center" ><h3>ABOUT US</h3></div>
      <p>sint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasisint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasi</p>
    </div>
  </div>
</div>



<div class="container text-center">
  <div class="row mt-5">
    <div class="col-sm-4">
      <h4>MISSION</h4>
      <p>Lorem ipsum dolor sit amet, consealias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasialias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasictetur adipisicing elit. Ducimus optio</p>
    </div>
    <div class="col-sm-4">
      <h4>VISSION</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasialias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores</p>
    </div>
    <div class="col-sm-4">
      <h4>ACHIEVEMENTS</h4>
      <p>sint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, be doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasi</p>
    </div>
  </div>
</div><br>

{% endblock  %}
