<!-- Footer
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white"> &copy;Dstore pvt lmt. All right reserved</p></div>
</footer-->

<!--footer class="bg-light text-black py-5"-->
<footer>

  <div class="bg-dark  text-white py-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 text-md text-center">
          <p class="mb-0">&copy; 2023 Dstore pvt lmt. All Rights Reserved.</p>
        </div>
        <!--div class="col-md-6 text-md-right text-center">
          <p class="m-0 text-center text-black"> &copy;Dstore pvt lmt. All right reserved</p>
          <img src="https://dummyimage.com/50x50/ccc/000&text=Logo" alt="Logo">
        </div-->
      </div>
    </div>
  </div>
</footer>