<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homeapp:index' %}">Dstore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!--<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Medical_Sciences">Medical Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Food_technology">Food Technology</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/English_literature">English Literature</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homeapp:about' %}">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          {% if item_count > 0 %}
          <li class="nav-item">
            <a class="nav-link" href="#">

              <a class="nav-link" href="{% url 'cartapp:cart_detail' %}"><i class="bi bi-cart"><span class="badge bg-dark rounded-circle text-white">{{item_count}}</span></i></a>
            </a>
          </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homeapp:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homeapp:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homeapp:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>




